
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="/Style/Client/Controller/ListProductController.js"></script>
}
<section class="qc__listproduct">
    <div class="container">
        <div class="row listProduct">
            
        </div>
    </div>
</section>

