
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="min-height:200px;text-align:center;margin-top:50px;font-size:20px">
    <div class="container">
        Bạn đã mua hàng thành công 
    </div>
</section>

